In [105]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn, query):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    cur.execute(query)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        
        
def main(query):
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn, query)

In [106]:
''' Test case'''
query = """
SELECT *
FROM FACILITIES
"""
main(query)

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [107]:
''' Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! '''

query10 = """    
   SELECT facility, totalrevenue
   FROM (SELECT facility, SUM(revenue) AS totalrevenue
   FROM (SELECT f.name AS facility,
       CASE WHEN b.memid = 0 THEN b.slots*f.guestcost
       ELSE b.slots*f.membercost END AS revenue
       FROM Bookings AS b
       INNER JOIN Facilities as f
       ON b.facid = f.facid
       INNER JOIN Members as m
       ON b.memid = m.memid) AS bookings
   GROUP BY facility) AS revenues

  WHERE totalrevenue < 1000
  ORDER BY totalrevenue 
   """  

main(query10)

2.6.0
2. Query all tasks
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [108]:
''' Q11: Produce a report of members and who recommended them in alphabetic
surname,firstname order '''

query11 = """    
SELECT s.member AS member, m.surname || ' ' || m.firstname as recommendedby
FROM Members as m
INNER JOIN (
 SELECT surname || ' ' || firstname as member, recommendedby AS memid
 FROM Members
 WHERE recommendedby >=1 ) AS s
ON m.memid = s.memid
ORDER BY member, recommendedby
"""
main(query11)

2.6.0
2. Query all tasks
('Bader Florence', 'Stibbons Ponder')
('Baker Anne', 'Stibbons Ponder')
('Baker Timothy', 'Farrell Jemima')
('Boothe Tim', 'Rownam Tim')
('Butters Gerald', 'Smith Darren')
('Coplin Joan', 'Baker Timothy')
('Crumpet Erica', 'Smith Tracy')
('Dare Nancy', 'Joplette Janice')
('Genting Matthew', 'Butters Gerald')
('Hunt John', 'Purview Millicent')
('Jones David', 'Joplette Janice')
('Jones Douglas', 'Jones David')
('Joplette Janice', 'Smith Darren')
('Mackenzie Anna', 'Smith Darren')
('Owen Charles', 'Smith Darren')
('Pinker David', 'Farrell Jemima')
('Purview Millicent', 'Smith Tracy')
('Rumney Henrietta', 'Genting Matthew')
('Sarwin Ramnaresh', 'Bader Florence')
('Smith Jack', 'Smith Darren')
('Stibbons Ponder', 'Tracy Burton')
('Worthington-Smyth Henry', 'Smith Tracy')

In [109]:
''' Q12: Find the facilities with their usage by member, but not guests '''

query12 = """    
SELECT f.name AS facility, s.totalhours AS totalhoursusage
FROM Facilities AS f
INNER JOIN (
 SELECT facid, ROUND(SUM(slots)/2.0, 2) AS totalhours
 FROM Bookings
 WHERE memid != 0 
 GROUP BY facid ) AS s
ON f.facid = s.facid
   """
main(query12)

2.6.0
2. Query all tasks
('Tennis Court 1', 478.5)
('Tennis Court 2', 441.0)
('Badminton Court', 543.0)
('Table Tennis', 397.0)
('Massage Room 1', 442.0)
('Massage Room 2', 27.0)
('Squash Court', 209.0)
('Snooker Table', 430.0)
('Pool Table', 428.0)

In [110]:
''' Q13: Find the facilities usage by month, but not guests  '''

query13 = """    
SELECT f.name AS facilities, s.month AS month, s.totalhours AS totalhoursusage
FROM Facilities AS f
INNER JOIN (
 SELECT facid, strftime('%m', starttime) AS month, 
 ROUND(SUM(slots)/2, 2) AS totalhours
 FROM Bookings
 WHERE memid != 0 
 GROUP BY facid, month
 ORDER BY facid ) AS s
ON f.facid = s.facid
   """
main(query13)

2.6.0
2. Query all tasks
('Tennis Court 1', '07', 100.0)
('Tennis Court 1', '08', 169.0)
('Tennis Court 1', '09', 208.0)
('Tennis Court 2', '07', 61.0)
('Tennis Court 2', '08', 172.0)
('Tennis Court 2', '09', 207.0)
('Badminton Court', '07', 82.0)
('Badminton Court', '08', 207.0)
('Badminton Court', '09', 253.0)
('Table Tennis', '07', 49.0)
('Table Tennis', '08', 148.0)
('Table Tennis', '09', 200.0)
('Massage Room 1', '07', 83.0)
('Massage Room 1', '08', 158.0)
('Massage Room 1', '09', 201.0)
('Massage Room 2', '07', 4.0)
('Massage Room 2', '08', 9.0)
('Massage Room 2', '09', 14.0)
('Squash Court', '07', 25.0)
('Squash Court', '08', 92.0)
('Squash Court', '09', 92.0)
('Snooker Table', '07', 70.0)
('Snooker Table', '08', 158.0)
('Snooker Table', '09', 202.0)
('Pool Table', '07', 55.0)
('Pool Table', '08', 151.0)
('Pool Table', '09', 221.0)